extends ./layouts/layout 
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg" alt="Imagen principal de pagina de nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra fermentum elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam libero odio, posuere eget mauris id, ornare eleifend velit. Duis eleifend sit amet diam at scelerisque. Mauris nec velit volutpat, ultricies eros ac, aliquet tortor. Nunc tincidunt sollicitudin magna, in accumsan turpis posuere eu. Pellentesque justo libero, rutrum eu nisi nec, gravida commodo leo. Praesent laoreet hendrerit quam. Nam mi ante, imperdiet lobortis dictum ac, pulvinar in justo. Etiam id consequat eros.

                p.text-justify Etiam efficitur dolor ac ex venenatis, non maximus lacus placerat. Suspendisse potenti. Etiam lacinia metus a cursus auctor. In faucibus lacus felis, id tempor nunc tempor sed. Praesent vestibulum nec lectus vel laoreet. Vestibulum aliquam elementum fermentum. 

                p.text-justify Morbi ac ex elementum, dignissim justo sed, maximus neque. Ut pharetra turpis vitae ornare suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut sit amet condimentum nibh. Morbi volutpat sollicitudin lorem ac pellentesque. 
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="Iconos seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam distinctio architecto totam quisquam repudiandae eligendi voluptates natus quaerat exercitationem porro blanditiis, sed molestias voluptas. 
                .col-md-4
                    img(src="img/icono_destinos.svg" alt="Iconos seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam distinctio architecto totam quisquam repudiandae eligendi voluptates natus quaerat exercitationem porro blanditiis, sed molestias voluptas. 
                .col-md-4
                    img(src="img/icono_precios.svg" alt="Iconos seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam distinctio architecto totam quisquam repudiandae eligendi voluptates natus quaerat exercitationem porro blanditiis, sed molestias voluptas. 
    